<html>
    <head>
        <title>CSS Guide</title>
        <style type="text/css"media="all">
            h1 {color:red; font-family:"arial";}
        </style>
    </head>
    <body>
        <h1>Ini adalah heading</h1>
        <h1 style="color:#36C;"> Ini contoh dari Inline CSS</h1>

        <p>Ini adalah paragraf. Ini adalah paragraf. Ini adalah
            paragraf. Ini adalah paragraf. Ini adalah paragraf. Ini adalah
            paragraf. Ini adalah paragraf.Ini adalah paragraf.</p>
    </body>
</html>