<style type="text/css">
    table.one {border-collapse:collapse;}
    table.two {border-collapse:separate;}
    td.a {border-style:solid; border-width:3px; border-color:#000000;
padding:10px;}
    td.b {border-style:solid; border-width:3px; border-color:#333333;
padding:10px;}
</style>
<table class="one">
    <caption>Contoh garis tepi collapse</caption>
    <tr>
        <td class="a"> Contoh Collapse pada kolom A</td>
    </tr>
    <tr>
        <td class="b"> Contoh Collapse pada kolom B</td>
    </tr>
</table>
<br />
<table class="two">
    <caption>Contoh garis tepi separate</caption>
    <tr>
        <td class="a" Contoh Separate pada kolom A></td>
    </tr>
    <tr>
        <td class="b" Contoh Seperate pada kolom B></td>
    </tr>
</table>