<style type="text/css">
    caption.top {caption-side:top}
    caption.bottom {caption-side:bottom}
    caption.left {caption-side:left}
    caption.right {caption-side:right}
</style>
<table style="width:400px; border:1px solid black;">
    <caption class="top"> Judul ini berada di atas </caption>
    <tr>
        <td> Kolom A</td>
    </tr>
    <tr>
        <td> Kolom B</td>
    </tr>
</table>
<br />
<table style="width:400px; border:1px solid black;">
    <caption class="bottom"> Judul ini berada di bawah</caption>
    <tr>
        <td> Kolom A</td>
    </tr>
    <tr>
        <td> Kolom B</td>
    </tr>
</table>
<br />
<table style="width:400px; border:1px solid black;">
    <caption class="left"> Judul ini berada di sebelah kiri</caption>
    <tr>
        <td>Kolom A</td>
    </tr>
    <tr>
        <td>Kolom B</td>
    </tr>
</table>
<br />
<table style="width:400px; border:1px solid black;">
    <caption class="left"> Judul ini berada di sebelah kanan</caption>
    <tr>
        <td>Kolom A</td>
    </tr>
    <tr>
        <td>Kolom B</td>
    </tr>
</table>